.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.modal_opened {
  visibility: visible;
}

.modal__title {
  margin: 0 0 24px 0;
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 28px;
  background-image: url(../../assets/close.png);
  border: none;
  background-color: transparent;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
}

.modal__content {
  background-color: #fff;
  position: relative;
  padding: 28px 28px 36px;
  max-width: 496px;
  box-sizing: border-box;
  width: 100%;
  border-radius: 16px 16px 16px 16px;
  padding: 28px 28px 36px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 16px 16px 16px 16px;
}

.modal__input {
  display: block;
  margin-bottom: 24px;
  padding-top: 8px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #000;
}

.modal__radio-buttons {
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal__submit {
  border: none;
  width: fit-content;
  color: #fff;
  background-color: rgba (0, 0, 0, 0.3);
  margin-top: 24px;
  padding: 8px 16px 8px 16px;
}

.modal__legend {
  margin-bottom: 20px;
}
